@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

#toes{
    font-family: 'Pacifico', cursive;
    color: #064789;
    font-size: 2cm;
}

body {
    background: rgb(5,5,65);
    background: radial-gradient(circle, rgba(5,5,65,1) 11%, rgba(46,48,187,1) 96%);
    font-family: 'Noto Sans', sans-serif;
    min-height:100vh;
    margin:0;
  }